.navbar {
  background-color: #1F2836;
}
body{
  background-color: rgb(30,30,30) !important;
  color:#C5C6C7 !important;
}
nav {
  width: 100%;
  height: fit-content;
}

.navbar p{
  color: rgb(200, 200, 200) !important;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 0;
}



.navbar a,.navbar a:active {
  color: rgb(200, 200, 200);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.qqq {
  color: rgb(200, 200, 200);
  text-decoration: none;
}
.qqq:hover{
  color: #45a29e !important;
  text-decoration: underline;
  text-decoration-color: #45a29e;
}
.navbar a:hover {
  color: #45a29e !important;
  text-decoration: underline;
  text-decoration-color: #45a29e;
  text-decoration-thickness: 3px;
}
.lista {
  color: rgb(200,200,200);
  text-decoration: none;
}

.lista:hover {
  color: #45a29e !important;
  text-decoration: none;
}

.col-sm-3{
  background-color: #1F2836;
}

.col-sm-9{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.dropdown-menu {
  background-color: #1F2836 !important;
  border-color: #45a29e !important;
}

.dropdown-toggle {
  color: rgb(200, 200, 200) !important;
}

@media screen and (max-width: 580px) {
  .pagename {
    font-size: 13px !important;
  }

  .logoimg {
    height: 50px !important;
    width: 50px !important;
  }

  .pageimg {
    height: 30px !important;
    width: 30px !important;
  }

  .article p,
  .article ul {
    margin-left: 30px !important;
    margin-right: 30px !important;
    font-size: 15px !important;
  }

  .article h1,
  .article h2 {
    margin-left: 30px !important;
    margin-right: 30px !important;
    font-size: 20px !important;
  }

  .fishes {
    margin-top: 100% !important;
  }

  .text-muted {
    font-size: 10px !important;
  }

  #navbar {
    padding: 20px 10px !important;
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-right {
    float: none;
  }
}

.row-footer {
  background-color: #AfAfAf;
  margin: 200px auto;
  padding: 20px 0px 20px 0px;
}

h5 {
  margin-top: 5px;
}

.table{
  color: #C5C6C7 !important;
}